/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    font-family: Arial, sans-serif;
}


/* COMMON */

img{
    width: 100%;
}

nav{
    margin: 1rem 0;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

a{
    color: black;
    text-decoration: none;
}

.btn{
    border-radius: 25px;
}

.ms_blue_text{
    color: #0c78d0;
}
/* HEADER */

header{
    font-family: Helvetica, arial, sans-serif;
}

.ms_background_black{
    background-color: black;
}

/* SONY LOGO */

.ms_sony_logo_alignment{
    text-align: right;
}

.ms_sony_logo{
    height: 15px;
    width: 100px;
    margin: 10px 0;
}

/* NAV MENU */

/* PLAYSTATION LOGO */

.ms_playstation_logo{
    height: 50px;
    width: 50px;
}

.ms_playstation_logo_alignment{
    width: 5%;
    display: inline-block;
}

/* BURGER */

.ms_burger_alignment{
    display: inline-block;
    width: 20%;
    text-align: right;
    font-size: 30px;
    vertical-align: middle;
}

/* MENU */

nav ul{
    font-weight: bold;
}

nav ul li{
    display: inline-block;
    margin: 0 1rem;
}

nav .d-none{
    width: 89%;
}

.d-none .ms_inline_block ul ,
.d-none .ms_inline_block div{
    display: inline-block;
}

/* BUTTON */

.ms_search_button{
    margin-left: 1rem;
}

/* MAIN */

.ms_jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

/* JUMBOTRON CONTENT */

/* JUMBOTRON IMAGE */

.ms_jumbotron_img{
    margin-top: 300px;
}

.ms_returnal_banner{
    width: 60%;
}

/* JUMBOTRON TITLE */

.ms_jumbotron_title{
    margin: 1.5rem 0;
    color: white;
}

.ms_jumbotron_title h2{
    font-size: 2.5rem;
}

/* JUMBOTRON TEXT */

.ms_jumbotron_text{
    color: white;
    margin: 2rem 0;
}

/* JUMBOTRON BUTTON */

.ms_jumbotron_button{
    margin-top: 2rem;
margin-bottom: 3rem;
}

/* GAME CARDS SECTION */

.ms_game_cards{
    margin-top: 2rem;
}

.ms_game_cards img{
    border-radius: 15px;
}

.ms_game_cards img:hover{
    padding: 0 2px;
    border: 2px solid blue;
}

/* PLAYSTATION 5 SECTION */

.ms_playstation5{
    text-align: center;
    margin-top: 8rem;
}

.ms_playstation5 h2{
    font-size: 3rem;
    
}

.ms_playstation5 p{
    font-size: 1.3rem;
    color: #7c7c7c;
}

.ms_playstation5 .row div{
   vertical-align: middle;
}

/* EXHIBITOR */

.ms_exhibitor img{
    filter: opacity(0.5);
}

.ms_exhibitor .col-4:hover img{
    filter: opacity(1);
}
.ms_exhibitor .col-4:hover{
    border-bottom: 1px solid blue;
}

/* IT TAKES 2 JUMBOTRON */

.ms_jumbotron_2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    margin-top: 2rem;
}

.ms_ittakestwo_img{
    margin-top: 150px;
}

.ms_ittakestwo_banner{
    width: 60%;
}

/* AVAILABLE SECTION */

.ms_available{
    background-color: #1f1f1f;
    padding-top: 2rem;
    padding-bottom: 3rem;
    color: white;
}

/* PLAYSTATION 4 SECTION */

.ms_ps4_section{
    margin-top: 4rem;
}

.ms_ps4_title p{
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.5rem;
}

.ms_ps4_title h2{
    text-align: center;
    font-size: 3rem;
}

.ms_ps4_card_text h3{
    font-size: 3rem;
}

.ms_ps4_card_text p{
    font-size: 1.4rem;
}